:root {
--main-color: #C3DCDF;
--accent-color: #ACC6A6;

--ff-main-color: black;
--ff-accent-color:white;

--ff-main-fonts: "Century Gothic", sans-serif;
--ff-accent-fonts: "Arial", sans-serif;
}


body, h1, h2, h3, p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Typography*/

h1, h2, h3{
    font-family: var(--ff-main-fonts);

}

p, a{
    font-family: var(--ff-accent-fonts);
}

/* Navigation Section*/

.nav-container{
  
    width: 100%;
    height:auto;
    background-color: var(--main-color);    
}

.nav-links{
    
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links ul{
    display: flex;
    list-style: none;
    padding: 0%;   
}

.nav-links li {
    padding:0em 1em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--ff-main-color);
    font-weight: bold;
    

}

.nav-links a {
    
    text-decoration: none;
    text-transform: uppercase;
    color:var(--ff-main-color);
    font-size: 0.825em;
    font-weight: bold;

}

.logo{
    width:150px;
    height:50px;
   
    
}

.nav-icon{
    width: 15px;
    height: 15px;
}

/*Banner Section*/

.banner-container{
    
    width: auto;
    height: 1280px;
    margin: 1em 1em 1em 1em;
    background-image:url(images/Banner\ 1.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-left: 5em;
    width: 823px;
    height:1280px;
    
}
.banner-content h1{
    font-size: 80px;
    text-transform: uppercase;
    color: var(--ff-accent-color);
}

.banner-content p{
    padding-top: 1em;
    font-size: 29px;
    color: var(--ff-accent-color);
}
.banner-buttons{
    margin-top: 3em;
}
button{
    color: var(--ff-accent-color);
    border:var(--ff-accent-color);
    border-radius: 37px;
    border-style:solid;
    height: 51px;
    background-color: transparent;
}

button.button-shop{
    width: 115px;

}

button.button-more{
    width: 187.68px;
    margin-left: 1em;

}
/*Main Article Section */

.main-article-container h2{
    text-transform: capitalize;
}

.article-container{
display: flex;
margin: 8rem 10rem auto 10rem;
}

.article-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4em;
    
}

.article-text-container h2 {
    position: relative;
    text-transform: uppercase;
    
}

.article-text-container p {
    position: relative;
    margin-top: 2em;
    font-size: 0.825em;
}



.circle-image-container1{
    height: 491px;
    display: flex;
    position: relative;


}

.circle-image-container2{
    height: 491px;
    width: auto;
    display: flex;
    position: relative;

}

.circle-image-container3{
    height: 491px;
    display: flex;
    position: relative;


}

.circle{
    top: 50px;
    position: relative;
    align-items: center;
    width: 379px;
    height: 377px;
    border: solid;
    border-radius: 50%;
    
    

    

}

.circle::before{
    content:'' ;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    border-radius: 50%;
    position: absolute;
    background-color: var(--accent-color);
    opacity: 0.4;
}

.circle-image1{

    position: relative;
    bottom: 5em;
    width:auto;
    height:491px;
   


}

.circle-image2{
    position: relative;
    width:auto;
    height:451px;
    right: 4em;
    bottom: 1em;


}

.circle-image3{
    position: relative;
    width:auto;
    height:418px;
    right: 1em;
    bottom: 2em;
    


}

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:auto;
    background-color: var(--main-color); 
    
}

.footer-logo{
    width:50px;
    height:50px;
    margin: 1em 0 1em 1em;

}

.footer-instagram{
  width: auto;
  height: 40px;
    margin: auto 1em auto 0;

}