html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.projects-banner-main h1{
    font-size: 25px ;
}




.projects-banner-container{
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
    
   

}

.projects-banner-main{
    display: flex;
    width: 100%;
    flex-direction: row;
    
}

.button-small-black-pr{
    text-transform: uppercase;
    color: var(--ff-main-color);
    border:var(--ff-main-color);
    border-radius: 37px;
    border-style:solid;
    height: 40px;
    background-color: transparent;
    border-width: thik;
    width: 115px;
}

button.button-wide-black{
    color: var(--ff-main-color);
    border:var(--ff-main-color);
    text-transform: uppercase;
    border-radius: 37px;
    border-style:solid;
    border-width: thik;
    height: 40px;
    background-color: transparent;
    width: 187.68px;
    margin-left: 1em;
}
 .water-image{
     height:800px;
     width: 400px;
 }

.pr-box{  
    margin-top: 2em;
   
}

.pr-box span{
    font-size: 10px;
    font-weight: bold;
}

.spacer{
    width: 20%;
   

}

.projects-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5em;
    max-width: 600px;
}