.projects-banner-main h1{
    font-size: 60px ;
}




.projects-banner-container{
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
    
   

}

.projects-banner-main{
    display: flex;
    width: 100%;
    flex-direction: row;
    
}

.button-small-black-pr{
    text-transform: uppercase;
    color: var(--ff-main-color);
    border:var(--ff-main-color);
    border-radius: 37px;
    border-style:solid;
    height: 80px;
    background-color: transparent;
    border-width: thik;
    width: 115px;
}

button.button-wide-black{
    color: var(--ff-main-color);
    border:var(--ff-main-color);
    text-transform: uppercase;
    border-radius: 37px;
    border-style:solid;
    border-width: thik;
    height: 80px;
    background-color: transparent;
    width: 187.68px;
    margin-left: 1em;
}
 .water-image{
     height:1400px;
     width: 700px;
 }

.pr-box{  
    margin-top: 4em;
   
}

.pr-box span{
    font-size: 20px;
    font-weight: bold;
}

.spacer{
    width: 25%;
   

}

.projects-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2em;
}